input[type="submit"],input[type="button"],button{
	background: #bb0000;
	border: 0px;
	padding: 10px 20px;
	color: #fff;
    margin-left: 45%;
}
input[type="text"],input[type="password"],input[type="email"] {
	height:25px;
    width: 80%;
}

select {
    height:25px;
    width: 80%;
}

textarea {
    height: 200px;
    width: 80%;
    padding: 3px;
}

.form-row{
	margin:10px 0px;
}

.form-row::after{
	content:".";
	clear: both;
	visibility: hidden;
	height: 0px;
	display: block;
}

.form-label{
	width: 20%;
}

.form-input{
	width:80%;
}



